version: 2
updates:
    - package-ecosystem: npm
      directory: '/'
      schedule:
          interval: daily
          time: '07:00'
          timezone: 'Europe/Berlin'
      commit-message:
          prefix: fix
          prefix-development: chore
          include: scope
    - package-ecosystem: github-actions
      directory: '/'
      schedule:
          interval: daily
          time: '07:00'
          timezone: 'Europe/Berlin'
      commit-message:
          prefix: fix
          prefix-development: chore
          include: scope
