*.tgz
/.deploy
/perf.data*
/.cache
/.pages
/worktrees
/.cache
/.ccache
.tmp
/.flatc
/.testfile*
/artifacts
/reports
/packages/reports
/build
/.ccls-cache
/.emscripten_cache
.DS_Store
compile_commands.json
*.map

/target

# Miscellaneous
.DS_Store
/node_modules
.vscode
!.vscode/settings.json
data/tpch/**/*.parquet
.idea
lib/.idea

check_duckdb
wasm_setup
loadable_extensions
