.table {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 8px 8px;
}

.row_group_container {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .row_group {
        display: grid;
        grid-template-columns: max-content 1fr 1fr 1fr 1fr;
        border: 1px solid rgb(180, 180, 180);
        overflow-x: auto;
        width: 90%;
        max-width: 880px;
        background-color: rgb(255, 255, 255);
    }
}
@media only screen and (max-width: 600px) {
    .row_group {
        display: grid;
        grid-template-columns: max-content 1fr 1fr 1fr 1fr;
        border: 1px solid rgb(180, 180, 180);
        overflow-x: auto;
        background-color: rgb(255, 255, 255);
    }
}

.row_group_title {
    grid-column: 1 / span 6;
    font-size: 95%;
    padding: 0px 8px;
    background-color: rgb(30, 30, 30);
    color: white;
}

.row_group_anchor {
    grid-column: 1;
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 95%;
    text-align: center;
}

.row_group_column_header {
    font-size: 95%;
    padding: 0px 8px;
    background-color: rgb(220, 220, 220);
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
}

.row_header {
    grid-column: 1;
    text-align: left;
    font-size: 85%;
    font-weight: 500;
    padding: 0px 16px 0px 8px;
    background-color: rgb(90, 90, 90);
    color: white;
}

.table_entry_missing {
    font-size: 85%;
    text-align: center;
    border-left: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
}

.table_entry {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-left: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
    padding: 0 4px 0px 4px;
}

.table_entry_value {
    text-align: right;
    font-size: 85%;
    padding: 0px 8px 0px 8px;
}

.table_entry_bar {
    width: 48px;
    padding: 0px 4px;
}

.table_entry_icon {
    display: grid;
    height: 75%;
    border-radius: 8px;
    padding: 0 4px 0px 4px;
    justify-content: center;
    align-items: center;
    color: hsl(56, 100%, 30%);
}
