.root {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.resizer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.term_container {
    width: 100%;
    height: 100%;
}
