.demo_header_container {
}

@media only screen and (min-width: 600px) {
    .demo_header_container {
        width: 80%;
        max-width: 1000px;
    }
}
@media only screen and (max-width: 600px) {
    .demo_header_container {
        width: 90%;
    }
}

.demo_setup {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 60px max-content;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.demo_setup_icon_container {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.demo_setup_icon {
    color: rgb(255, 240, 0);
}

.demo_setup_channel {
    height: 4px;
    width: 100%;
    background-color: rgb(255, 240, 0);
}

.demo_setup_perf {
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}

.table_page {
    background-color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
