.demo_header_container {
}

@media only screen and (min-width: 600px) {
    .demo_header_container {
        width: 80%;
        max-width: 1000px;
    }
}
@media only screen and (max-width: 600px) {
    .demo_header_container {
        width: 90%;
    }
}

.demo_setup {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
    grid-template-rows: 60px max-content;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.demo_setup_icon_container {
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.demo_setup_icon {
    color: white;
}

.demo_setup_channel {
    grid-row: 1;
    height: 4px;
    width: 100%;
    background-color: white;
}

.demo_setup_perf {
    grid-row: 2;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
}

.demo_setup_config {
    grid-row: 1 / span 2;
    grid-column: 4;

    padding: 0px 16px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto max-content;
    grid-column-gap: 16px;
    align-items: center;
    justify-content: center;
}

.table_page {
    background-color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.levels_container {
    display: grid;
    grid-template-columns: repeat(3, 20px);
    grid-template-rows: 16px;
    padding: 2px 0px;
}

.level_set {
    border: 1px solid rgb(255, 240, 0);
    background-color: hsl(56, 100%, 50%);
}

.level_unset {
    border: 1px solid hsl(56, 100%, 50%);
}

.level_unset:hover {
    background-color: hsl(56, 100%, 40%);
}

.level_label {
    color: white;
    font-size: 0.8rem;
}
