:root {
    --pivot_border: 1px solid rgb(100, 100, 100);
    --pivot_bg: rgb(40, 40, 40);
}

.pivot_container {
    position: relative;
    width: 100%;
    height: 80%;
    border-radius: var(--border_radius);
    box-sizing: border-box;
    font-size: 0.8rem;
    background-color: #333;

    display: grid;
    grid-template-rows: 48px 48px 1fr 1fr;
    grid-template-columns: 120px auto;
}

@media only screen and (min-width: 600px) {
    .pivot_container {
        width: 90%;
        max-width: 1200px;
    }
}
@media only screen and (max-width: 600px) {
    .pivot_container {
        width: 100%;
    }
}

.pivot_icon_container {
    display: grid;
    justify-content: center;
    align-items: center;
    border-left: var(--pivot_border);
    border-top: var(--pivot_border);
    background-color: black;

    grid-row: 2;
    grid-column: 1;
}

.pivot_icon {
    color: rgb(255, 240, 0);
}

.pivot_header {
    grid-column: 1;
    grid-row: 1;
    border-radius: var(--border_radius) var(--border_radius) 0 0;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 40px;
}

.pivot_body {
    grid-column: 2;
    grid-row: 3 / span 2;
    position: relative;
    border: var(--pivot_border);
    background-color: rgb(255, 255, 255);
}

.pivot_items {
    width: 100%;
    height: 100%;
}

.table_page {
    background-color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_rows {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.table_column_area {
    position: relative;
    grid-row: 1;
    grid-column: 2;
    border-top: var(--pivot_border);
    border-left: var(--pivot_border);
    border-right: var(--pivot_border);
    background-color: var(--pivot_bg);
}

.table_column_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 4px;
}

.table_column {
    color: white;
    background-color: black;
    border-radius: 16px;
    padding: 4px 12px;
    margin: 0px 4px;
    position: relative;
    z-index: 100;
}

.pivot_column_area {
    grid-row: 2;
    grid-column: 2;
    position: relative;
    border-top: var(--pivot_border);
    border-left: var(--pivot_border);
    border-right: var(--pivot_border);
    background-color: var(--pivot_bg);
}

.pivot_column_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 4px;
}

.pivot_column {
    color: white;
    background-color: black;
    border-radius: 16px;
    padding: 4px 12px;
    margin: 0px 4px;
    position: relative;
    z-index: 100;
}

.pivot_row_area {
    grid-row: 3;
    grid-column: 1;
    position: relative;
    border-left: var(--pivot_border);
    border-top: var(--pivot_border);
    border-bottom: var(--pivot_border);
    background-color: var(--pivot_bg);
}

.pivot_row_list {
    width: 100%;
    height: 100%;
    padding: 28px 8px 0px 8px;
}

.pivot_row {
    color: white;
    background-color: black;
    border-radius: 16px;
    padding: 4px 12px;
    margin: 8px 0px;
    position: relative;
    z-index: 100;
}

.pivot_value_area {
    grid-row: 4;
    grid-column: 1;
    position: relative;
    border-left: var(--pivot_border);
    border-bottom: var(--pivot_border);
    background-color: var(--pivot_bg);
}

.pivot_value_list {
    width: 100%;
    height: 100%;
    padding: 28px 8px 0px 8px;
}

.pivot_value {
    color: white;
    background-color: black;
    border-radius: 16px;
    padding: 4px 12px;
    margin: 8px 0px;
    position: relative;
    z-index: 100;
}

.label_top {
    position: absolute;
    right: 8px;
    bottom: 4px;
    color: rgb(120, 120, 120);
    font-size: 0.9rem;
    z-index: 1;
}

.label_left {
    position: absolute;
    left: 8px;
    top: 4px;
    color: rgb(120, 120, 120);
    font-size: 0.9rem;
    z-index: 1;
}
