:root {
    --action_duration_color: rgba(255, 255, 255, 0.6);
    --action_panel_bg: rgb(30, 30, 30);
    --action_panel_border_radius: 8px;
    --board_ruler_size: 20px;
    --board_ruler_bg: rgb(255, 255, 255);
    --board_ruler_corner_bg: rgb(245, 245, 245);
    --border_color: rgb(220, 220, 220);
    --border_radius: 8px;
    --cmd_bar_bg: rgb(255, 255, 255);
    --cmd_bar_board_bg: rgb(255, 255, 255);
    --cmd_fg: rgb(80, 80, 80);
    --cmd_hover_bg: rgb(80, 80, 80);
    --cmd_margin: 4px;
    --cmd_sublist_bg: rgb(80, 80, 80);
    --datagrid_cell_anchor_bg: rgb(240, 240, 240);
    --datagrid_cell_border: 1px solid rgb(225, 225, 225);
    --datagrid_cell_headers_bg: rgb(240, 240, 240);
    --datagrid_cell_headers_border: 1px solid rgb(215, 215, 215);
    --datagrid_cell_headers_fg: rgb(0, 0, 0);
    --datagrid_cell_nodata_bg: rgb(225, 225, 225);
    --example_border_color: rgb(200, 200, 200);
    --launcher_bg: rgb(30, 30, 30);
    --log_timestamp_color: rgba(255, 255, 255, 0.6);
    --nav_bar_bg: rgb(30, 30, 30);
    --nav_bar_button_height: 48px;
    --nav_bar_button_margin: 4px 8px;
    --nav_bar_width: 64px;
    --nav_logo_height: 56px;
    --system_bg: rgb(10, 10, 10);
    --system_bg_active: rgb(30, 30, 30);
    --system_button_height: 40px;
    --system_button_margin: 6px;
    --system_fg_active: rgb(255, 255, 255);
    --system_minimal_bg: transparent;
    --nav_tab_bg: transparent;
    --nav_tab_bg_active: rgb(10, 10, 10);
    --nav_tab_fg: rgb(255, 255, 255);
    --nav_tab_fg_active: rgb(255, 255, 255);
    --pgraph_node_border_color: rgb(200, 200, 200);
    --pgraph_node_border_radius: 8px;
    --studio_board_bg: rgb(225, 225, 225);
    --studio_program_info_height: 40px;
    --studio_tool_fg: rgb(80, 80, 80);
    --studio_tool_hover_bg: rgb(80, 80, 80);
    --studio_tool_sublist_bg: rgb(80, 80, 80);
    --studio_viztype_fg: rgb(255, 255, 255);
    --studio_viztype_hover_bg: rgb(40, 40, 40);
    --sys_panel_bg: rgb(30, 30, 30);
    --sys_panel_border_radius: 8px;
    --sys_subtitle_color: rgba(255, 255, 255, 0.6);
    --sys_subtitle_fontsize: 90%;
    --vizcard_border_color: rgb(200, 200, 200);
    --vizcard_header_bg: rgb(245, 245, 245);
    --vizcard_header_border: 1px solid rgb(215, 215, 215);
}

.btn-primary {
    background-color: hsl(56deg 100% 35%) !important;
    border-color: hsl(56deg 100% 35%) !important;
}

.btn:focus,
.btn:active {
    outline: hsl(56deg 100% 30%) !important;
    box-shadow: 0 0 0 3px hsl(56deg 90% 30%) !important;
}

.nav-link {
    color: hsl(56deg 100% 35%) !important;
}
.nav-link.active {
    color: black !important;
}
