/* -------------------------------------------------------------------- */

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: url(./Nunito-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(./Nunito-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    src: url(./Nunito-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url(./Nunito-Bold.ttf) format('truetype');
}

/* -------------------------------------------------------------------- */
