.table {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr 1fr 1fr 1fr;
    border: 1px solid rgb(180, 180, 180);
    overflow-x: auto;
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
    margin-top: 20px;
}

.table_title {
    grid-column: 1 / span 6;
    padding: 0px 8px;
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 1rem;
}

.table_anchor {
    grid-column: 1;
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

.table_column_header {
    padding: 0px 8px;
    background-color: rgb(220, 220, 220);
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 1rem;
}

.row_header {
    grid-column: 1;
    text-align: left;
    font-weight: 500;
    padding: 0px 16px 0px 8px;
    background-color: rgb(90, 90, 90);
    color: white;
}

.table_entry_missing {
    text-align: center;
    border-left: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
}

.table_entry {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-left: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
    padding: 1px 4px 1px 4px;
    min-width: 160px;
    font-weight: 500;
}

.table_entry_value {
    flex: 1;
    text-align: right;
    padding: 0px 8px 0px 8px;
}

.table_entry_bar {
    width: 48px;
    padding: 0px 4px;
}

.table_entry_icon {
    display: grid;
    height: 75%;
    border-radius: 8px;
    padding: 0 4px 0px 4px;
    justify-content: center;
    align-items: center;
    color: hsl(56, 100%, 30%);
}
