.root {
    background: white;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 48px auto 48px;

    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
}

.header {
    grid-row: 1;
    border-bottom: 1px solid rgb(220, 220, 220);

    display: grid;
    align-items: center;
    grid-template-columns: auto 48px;
}

.header_title {
    grid-row: 1;
    grid-column: 1;
    padding: 0px 16px;
    display: grid;
    align-items: center;
}

.close {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    height: calc(100% - 16px);
    margin: 8px;
}

.close:hover {
    background-color: rgb(220, 220, 220);
}

.close > svg {
    justify-self: center;
    align-self: center;
}

.file_list {
    grid-row: 2;
}

.file_list_entry {
    display: grid;
    width: 100%;
    grid-template-columns: auto max-content 40px 40px;
    padding-right: 4px;
}

.file_list_entry_name {
    font-size: 0.95rem;
    display: grid;
    justify-content: left;
    align-items: center;
    padding: 8px 8px 8px 16px;
    height: 40px;
}

.file_list_entry_size {
    font-size: 0.95rem;
    display: grid;
    justify-content: right;
    align-items: center;
    padding-right: 12px;
    padding-left: 12px;
    font-weight: 500;
}

.file_list_entry_action {
    margin: 4px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.file_list_entry_action:hover {
    background-color: rgb(220, 220, 220) !important;
    color: black !important;
}

.file_list_entry_action_toggled {
    margin: 4px;
    display: grid;
    justify-content: center;
    align-items: center;

    background-color: rgb(30, 30, 30);
    color: white;
}

.no_files {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.footer_actions {
    grid-row: 3;
    border-top: 1px solid rgb(220, 220, 220);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 4px;
}

.footer_label {
    padding: 0px 16px;
    flex: 1;
}

.footer_action {
    margin: 0px 4px;
}
