.root {
    border-radius: 8px;
    background: white;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 48px auto;

    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
}

.header {
    grid-row: 1;
    border-bottom: 1px solid rgb(220, 220, 220);

    display: grid;
    align-items: center;
    grid-template-columns: auto 80px;
}

.header_title {
    grid-row: 1;
    grid-column: 1;
    padding: 0px 16px;
    display: grid;
    align-items: center;
}

.header_action {
    grid-row: 1;
    grid-column: 2;
    margin: 0px 8px;
}

.registered_file_list {
    padding: 8px 0px;
}

.registered_file_list_entry {
    padding: 4px 16px 4px 24px;
    display: grid;
    width: 100%;
    grid-template-columns: 32px auto;
    grid-template-rows: 32px;
}

.registered_file_list_entry:hover {
    background-color: rgb(200, 200, 200);
}

.registered_file_list_entryIcon {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    justify-content: left;
    align-items: center;
}

.registered_file_list_entry_header {
    grid-column: 2;
    font-size: 0.95rem;
    display: grid;
    justify-content: left;
    align-items: center;
}
