.overlay_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
    z-index: 1000;
    justify-items: center;
    align-items: center;
}

.overlay {
    width: 80%;
    max-width: 480px;
    max-height: 480px;
}
