.vevYwJX0OWG3WF4TOXDP {
    width: 100%;
    height: 100%;
    background-color: rgb(220, 220, 220);
}

.jyCosCK9kkShLtx1rzsf {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 8px 8px;
}

.Erg9O16aYX1EaqLb2gkZ {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .vQQ03N22nd2b3VzHfSg_ {
        display: grid;
        grid-template-columns: max-content 1fr 1fr 1fr 1fr 1fr;
        border: 1px solid rgb(180, 180, 180);
        overflow-x: auto;
        width: 90%;
        max-width: 880px;
    }
}
@media only screen and (max-width: 600px) {
    .vQQ03N22nd2b3VzHfSg_ {
        display: grid;
        grid-template-columns: max-content 1fr 1fr 1fr 1fr 1fr;
        border: 1px solid rgb(180, 180, 180);
        overflow-x: auto;
    }
}

.cfXL3OjPAyW2NQKIx7jT {
    grid-column: 1 / span 6;
    font-size: 95%;
    padding: 0px 8px;
    background-color: rgb(30, 30, 30);
    color: white;
}

.ygc_h5SPWIduz6jAY6AS {
    grid-column: 1;
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 95%;
    text-align: center;
}

.qHzWzJ8n38pl7YjCND0O {
    font-size: 95%;
    padding: 0px 8px;
    background-color: rgb(220, 220, 220);
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
}

.CbTll7ikNFjt7jZMAZl_ {
    grid-column: 1;
    text-align: left;
    font-size: 85%;
    padding: 0px 16px 0px 8px;
    background-color: rgb(90, 90, 90);
    color: white;
}

.t3iTsRrMJiXDbWxxyLkF {
    text-align: right;
    font-size: 85%;
    padding: 0px 8px;
}

.dsE0XJsIQLXwLBGPlt1Q {
    font-size: 85%;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

.frHF8OmxPSbO9CJJjVzS {
    background: white;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 48px auto 48px;

    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
}

.lsHoSoWXtbJfZdvxKr2w {
    grid-row: 1;
    border-bottom: 1px solid rgb(220, 220, 220);

    display: grid;
    align-items: center;
    grid-template-columns: auto 48px;
}

.c5IX2RKyY8u7dvmt6pdd {
    grid-row: 1;
    grid-column: 1;
    padding: 0px 16px;
    display: grid;
    align-items: center;
}

.zeZnGth9eL9shpw4kmqO {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    height: calc(100% - 16px);
    margin: 8px;
}

.zeZnGth9eL9shpw4kmqO:hover {
    background-color: rgb(220, 220, 220);
}

.zeZnGth9eL9shpw4kmqO > svg {
    justify-self: center;
    align-self: center;
}

.Q48sP2Baf4AtCXddqoBI {
    grid-row: 2;
}

.NjTTbjfS5etLNbXpka7l {
    display: grid;
    width: 100%;
    grid-template-columns: auto max-content 40px 40px;
    padding-right: 4px;
}

.HlvtXaLuymnVNdMnGzYJ {
    font-size: 0.95rem;
    display: grid;
    justify-content: left;
    align-items: center;
    padding: 8px 8px 8px 16px;
    height: 40px;
}

.jxkuBzPeGKuTv3dvmMVg {
    font-size: 0.95rem;
    display: grid;
    justify-content: right;
    align-items: center;
    padding-right: 12px;
    padding-left: 12px;
    font-weight: 500;
}

.GujT0AdcOh01Nv9S8rAp {
    margin: 4px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.GujT0AdcOh01Nv9S8rAp:hover {
    background-color: rgb(220, 220, 220) !important;
    color: black !important;
}

.qtTKyHDqqE7QO0vZAjvf {
    margin: 4px;
    display: grid;
    justify-content: center;
    align-items: center;

    background-color: rgb(30, 30, 30);
    color: white;
}

.BG8WtWSHA92zxo1y78JS {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.UTwrqNXkIimFNwvLN8Qj {
    grid-row: 3;
    border-top: 1px solid rgb(220, 220, 220);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 4px;
}

.eptYHfFHZogdvnHWiggA {
    padding: 0px 16px;
    flex: 1;
}

.d73Xb3ycAZSVp8ooMliu {
    margin: 0px 4px;
}

.D5EnIgUbWdQliwmxn2bQ {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
    z-index: 1000;
    justify-items: center;
    align-items: center;
}

.mY2Df9KpkQQPBtiHn2pg {
    width: 80%;
    max-width: 480px;
    max-height: 480px;
}

.GgRNMc1kqzr5w59L6wah {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.FN2wvCi9AEhWq2rFby0V {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.eifaMjCqqTpXf1PSlJKG {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    .MgE8UmO_jho2r_HikcFG {
        position: relative;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: var(--nav_bar_width) calc(100% - var(--nav_bar_width));
        height: 100%;
    }

    .Ik38kjC8InfXiyMIklkB {
        background-color: var(--nav_bar_bg);
        color: rgb(255, 255, 255);
        line-height: 24px;
        text-align: center;

        display: grid;
        grid-template-rows: 56px auto;
        grid-template-columns: 100%;
    }

    .bm9W3OhPnGkKhLwJ516g {
        display: grid;
        grid-template-rows: repeat(3, 48px);
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .MgE8UmO_jho2r_HikcFG {
        position: relative;
        display: grid;
        grid-template-rows: var(--nav_bar_width) calc(100% - var(--nav_bar_width));
        grid-template-columns: 100%;
        height: 100%;
    }

    .Ik38kjC8InfXiyMIklkB {
        background-color: var(--nav_bar_bg);
        color: rgb(255, 255, 255);
        line-height: 24px;
        text-align: center;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 64px auto;
        justify-items: right;
    }

    .bm9W3OhPnGkKhLwJ516g {
        display: grid;
        grid-template-columns: repeat(2, 56px);
        grid-template-rows: 100%;
    }
}

.Pr00W8Wp3LmJVbOJUr0W {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    color: rgb(255, 240, 0);
}

.Pr00W8Wp3LmJVbOJUr0W > img {
    width: 40px;
}

.iJCjJPuh9KQo8iwCNd16 {
    display: block;
}

.yzjBuH6YN7NFao36gSMl {
    position: relative;
    font-weight: 400;
    font-size: 0.75em;
    background-color: var(--nav_tab_bg);
    color: var(--nav_tab_fg);
    text-decoration: none;
    box-sizing: border-box;
}

.yzjBuH6YN7NFao36gSMl > a {
    width: 100%;
    height: 100%;
    display: grid;
    text-decoration: none;
    vertical-align: middle;
}

.yzjBuH6YN7NFao36gSMl > a svg {
    justify-self: center;
    align-self: center;
    margin-bottom: 3px;
    color: white;
}

.SCfU8XvxNRkZroE_3kvE {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.yzjBuH6YN7NFao36gSMl:hover,
.yzjBuH6YN7NFao36gSMl.YnI4T386XnxghA5ap8dg {
    background-color: var(--nav_tab_bg_active);
    color: var(--nav_tab_fg_active);
}

.hRcUI6d8SOyzYqKboXV0 {
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
    font-size: 90%;
    overflow: hidden;
}

.Rzidb1JwPa8fIIeb7Se3 {
    grid-row: 1;
    grid-column: 1;
    background-color: #fff000;
    display: grid;
    grid-template-columns: max-content auto max-content;
    align-items: center;
    justify-content: center;
}

.cnQ_ITeZlNNh3zKAVkwr {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.fCYMHWyQYecesbNT_MlS {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

.R77G2ohZ1V0XW1lWPFgw {
    margin-left: 8px;
    padding: 0px 6px;
    height: 100%;
    background-color: #e0d100;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.qanajNFCe8AqssRmf42Q {
    grid-row: 2;
    grid-column: 1;
    overflow: hidden;
}

/* -------------------------------------------------------------------- */

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: url(../../static/assets/Nunito-Light.545d04c96d939f25984c.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(../../static/assets/Nunito-Regular.09b2f37e93bedfaa2976.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    src: url(../../static/assets/Nunito-SemiBold.45ea1be74e8fb8d959b8.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url(../../static/assets/Nunito-Bold.5b67d635abb53cc261c5.ttf) format('truetype');
}

/* -------------------------------------------------------------------- */

:root {
    --nav_bar_bg: rgb(30, 30, 30);
    --nav_bar_button_height: 48px;
    --nav_bar_button_margin: 4px 8px;
    --nav_bar_width: 64px;
    --nav_logo_height: 56px;
    --nav_tab_bg: transparent;
    --nav_tab_bg_active: rgb(20, 20, 20);
    --nav_tab_fg: rgb(255, 255, 255);
    --nav_tab_fg_active: rgb(255, 255, 255);

    font-family: 'Nunito';
}

.btn-primary {
    background-color: hsl(56deg 100% 35%) !important;
    border-color: hsl(56deg 100% 35%) !important;
}

.btn:focus,
.btn:active {
    outline: hsl(56deg 100% 30%) !important;
    box-shadow: 0 0 0 3px hsl(56deg 90% 30%) !important;
}

.nav-link {
    color: hsl(56deg 100% 35%) !important;
}
.nav-link.active {
    color: black !important;
}

