.Lzxc7G124hzehw0l66hX {
    border-radius: 8px;
    background: white;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 48px auto 48px;

    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
}

.JEUCXy4ULQZ8nkiW7MbY {
    grid-row: 1;
    border-bottom: 1px solid rgb(220, 220, 220);

    display: grid;
    align-items: center;
    grid-template-columns: auto 48px;
}

.qUuZhoLQH2aBwGLmvwgA {
    grid-row: 1;
    grid-column: 1;
    padding: 0px 16px;
    display: grid;
    align-items: center;
}

.Pm_WhRVtzAIIboDbcrEE {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    height: calc(100% - 16px);
    margin: 8px;
}

.Pm_WhRVtzAIIboDbcrEE:hover {
    background-color: rgb(220, 220, 220);
    border-radius: 8px;
}

.Pm_WhRVtzAIIboDbcrEE > svg {
    justify-self: center;
    align-self: center;
}

.tHCIgbLejQ_W2p4nrBfe {
    grid-row: 2;
}

.IYmunKFYHJEGiBwfY1wq {
    display: grid;
    width: 100%;
    grid-template-columns: auto max-content 40px 40px;
    padding-right: 4px;
}

.RsjUbvnXqGJoX2t5GOLt {
    font-size: 0.95rem;
    display: grid;
    justify-content: left;
    align-items: center;
    padding: 8px 8px 8px 16px;
    height: 40px;
}

._wxEDRZ3bsO4aIC2xGzM {
    font-size: 0.95rem;
    display: grid;
    justify-content: right;
    align-items: center;
    padding-right: 12px;
    padding-left: 12px;
    font-weight: 500;
}

.aYZgw91i2wOhCp_iWAf1 {
    margin: 4px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.aYZgw91i2wOhCp_iWAf1:hover {
    background-color: rgb(220, 220, 220) !important;
    border-radius: 8px;
    color: black !important;
}

.qmsETh8eN_4B614ZoY6e {
    margin: 4px;
    display: grid;
    justify-content: center;
    align-items: center;

    background-color: rgb(30, 30, 30);
    border-radius: 8px;
    color: white;
}

._m5qWc8R4I1gLZ60mKNT {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.rhg7irU9YO8T_PXfVz7i {
    grid-row: 3;
    border-top: 1px solid rgb(220, 220, 220);
    border-radius: 0 0 8px 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 4px;
}

.fUZupb9T2o_nRU_LBIBO {
    padding: 0px 16px;
    flex: 1;
}

.JxiiD0Eq6oDbM4EcspIh {
    margin: 0px 4px;
}

.GIiBJwSV3Ojs4BOz_1v1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
    z-index: 1000;
    justify-items: center;
    align-items: center;
}

.nOLVtha_wBuYTtU_vBDl {
    width: 80%;
    max-width: 480px;
    max-height: 480px;
}

.dlwp5qorWA6FPwSTg_D3 {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.ElCSJT7_F2gJZKDXqf2C {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.sce6WyXvM3gkopp8HHTz {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    .IKcFpH7Lkr3aJQi2H2ah {
        position: relative;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: var(--nav_bar_width) calc(100% - var(--nav_bar_width));
        height: 100%;
    }

    .di3zfPD9Y9HxjDT8O98h {
        background-color: var(--nav_bar_bg);
        color: rgb(255, 255, 255);
        line-height: 24px;
        text-align: center;

        display: grid;
        grid-template-rows: 56px auto;
        grid-template-columns: 100%;
    }

    .BLZdBzFDdaQSOMmwd9Bp {
        display: grid;
        grid-template-rows: repeat(3, 48px);
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .IKcFpH7Lkr3aJQi2H2ah {
        position: relative;
        display: grid;
        grid-template-rows: var(--nav_bar_width) calc(100% - var(--nav_bar_width));
        grid-template-columns: 100%;
        height: 100%;
    }

    .di3zfPD9Y9HxjDT8O98h {
        background-color: var(--nav_bar_bg);
        color: rgb(255, 255, 255);
        line-height: 24px;
        text-align: center;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 64px auto;
        justify-items: right;
    }

    .BLZdBzFDdaQSOMmwd9Bp {
        display: grid;
        grid-template-columns: repeat(2, 56px);
        grid-template-rows: 100%;
    }
}

.jy422jqzSx9yptlctBS8 {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    color: rgb(255, 240, 0);
}

.jy422jqzSx9yptlctBS8 > img {
    width: 40px;
}

.k1ukUDCnZEfhO_cG4VsS {
    display: block;
}

._6em2Xl4wLvWBsHTwLrG {
    position: relative;
    font-weight: 400;
    font-size: 0.75em;
    background-color: var(--nav_tab_bg);
    color: var(--nav_tab_fg);
    text-decoration: none;
    box-sizing: border-box;
}

._6em2Xl4wLvWBsHTwLrG > a {
    width: 100%;
    height: 100%;
    display: grid;
    text-decoration: none;
    vertical-align: middle;
}

._6em2Xl4wLvWBsHTwLrG > a svg {
    justify-self: center;
    align-self: center;
    margin-bottom: 3px;
    color: white;
}

._kDRZ1nOHLqJ_6yI7FkI {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

._6em2Xl4wLvWBsHTwLrG:hover,
._6em2Xl4wLvWBsHTwLrG.nJMzX5k_4knd_nZZ3gdQ {
    background-color: var(--nav_tab_bg_active);
    color: var(--nav_tab_fg_active);
}

.DsNpF7cZ9pKfXRvTemcT {
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
    font-size: 90%;
    overflow: hidden;
}

.GdniiP1lLbIE9yudInip {
    grid-row: 1;
    grid-column: 1;
    background-color: #fff000;
    display: grid;
    grid-template-columns: max-content auto max-content;
    align-items: center;
    justify-content: center;
}

._l4zAD4tg87x15t7KFd0 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.AFoQiSUbWD08NCuNNZ4f {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

.OM7YboE8lthuoVdxzq0t {
    margin-left: 8px;
    padding: 0px 6px;
    height: 100%;
    background-color: #e0d100;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.oColXY_f1mKpwrtFZplp {
    grid-row: 2;
    grid-column: 1;
    overflow: hidden;
}

/* -------------------------------------------------------------------- */

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: url(../../static/assets/Nunito-Light.545d04c96d939f25984c.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(../../static/assets/Nunito-Regular.09b2f37e93bedfaa2976.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    src: url(../../static/assets/Nunito-SemiBold.45ea1be74e8fb8d959b8.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url(../../static/assets/Nunito-Bold.5b67d635abb53cc261c5.ttf) format('truetype');
}

/* -------------------------------------------------------------------- */

:root {
    --nav_bar_bg: rgb(30, 30, 30);
    --nav_bar_button_height: 48px;
    --nav_bar_button_margin: 4px 8px;
    --nav_bar_width: 64px;
    --nav_logo_height: 56px;
    --nav_tab_bg: transparent;
    --nav_tab_bg_active: rgb(20, 20, 20);
    --nav_tab_fg: rgb(255, 255, 255);
    --nav_tab_fg_active: rgb(255, 255, 255);

    font-family: 'Nunito';
}

.btn-primary {
    background-color: hsl(56deg 100% 35%) !important;
    border-color: hsl(56deg 100% 35%) !important;
}

.btn:focus,
.btn:active {
    outline: hsl(56deg 100% 30%) !important;
    box-shadow: 0 0 0 3px hsl(56deg 90% 30%) !important;
}

.nav-link {
    color: hsl(56deg 100% 35%) !important;
}
.nav-link.active {
    color: black !important;
}

