@media only screen and (min-width: 600px) {
    .container {
        position: relative;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: var(--nav_bar_width) calc(100% - var(--nav_bar_width));
        height: 100%;
    }

    .navbar {
        background-color: var(--nav_bar_bg);
        color: rgb(255, 255, 255);
        line-height: 24px;
        text-align: center;

        display: grid;
        grid-template-rows: 56px auto;
        grid-template-columns: 100%;
    }

    .tabs {
        display: grid;
        grid-template-rows: repeat(3, 48px);
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        position: relative;
        display: grid;
        grid-template-rows: var(--nav_bar_width) calc(100% - var(--nav_bar_width));
        grid-template-columns: 100%;
        height: 100%;
    }

    .navbar {
        background-color: var(--nav_bar_bg);
        color: rgb(255, 255, 255);
        line-height: 24px;
        text-align: center;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 64px auto;
        justify-items: right;
    }

    .tabs {
        display: grid;
        grid-template-columns: repeat(3, 56px);
        grid-template-rows: 100%;
    }
}

.logo {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    color: rgb(255, 240, 0);
}

.logo > img {
    width: 32px;
}

.tabNavbar {
    display: block;
}

.tab {
    position: relative;
    font-weight: 400;
    background-color: var(--nav_tab_bg);
    color: var(--nav_tab_fg);
    text-decoration: none;
    box-sizing: border-box;
}

.tab > a {
    width: 100%;
    height: 100%;
    display: grid;
    text-decoration: none;
    vertical-align: middle;
}

.tab > a svg {
    justify-self: center;
    align-self: center;
    margin-bottom: 3px;
    color: white;
}

.tabButton {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.tabTextIcon {
    font-size: 1.2rem;
}

.tab:hover,
.tab.active {
    background-color: var(--nav_tab_bg_active);
    color: var(--nav_tab_fg_active);
}
