.cell {
    box-sizing: border-box;
    border-bottom: var(--duckdb_table_cell_border);
    border-right: var(--duckdb_table_cell_border);
    position: relative;

    display: grid;
    grid-template-columns: 100%;

    font-size: var(--duckdb_table_font_size);
}

.data_value {
    grid-column: 1;

    display: grid;
    align-items: center;
    justify-content: center;

    padding: 0 8px 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data_value_number {
    justify-content: end !important;
    font-weight: 400;
}

.data_value_text {
    justify-content: start !important;
    font-weight: 400;
}

.data_domain {
    grid-column: 2;
    padding-right: 8px;
    padding-left: 4px;
    height: 100%;
}
