.root {
    width: 100%;
    height: 100%;
    background-color: rgb(220, 220, 220);

    overflow-y: auto;
}

.root_spinner {
    width: 100%;
    height: 100%;
    background-color: rgb(220, 220, 220);

    display: grid;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 16px 0px;
}

.tldr {
    font-style: italic;
    text-align: justify;
}

.section_container {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .section {
        width: 90%;
        max-width: 800px;
    }
}
@media only screen and (max-width: 600px) {
    .section {
        width: 100%;
    }
}
