.root {
    width: 100%;
    height: 100%;
    background-color: rgb(220, 220, 220);

    overflow-y: auto;
}

.root_spinner {
    width: 100%;
    height: 100%;
    background-color: rgb(220, 220, 220);

    display: grid;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 8px 0px;
}

.tldr {
    font-style: italic;
    text-align: justify;
    padding: 4px 4px;
}

.section_link {
    margin-left: 4px;
}

.section_text {
    padding: 0px 4px;
    text-align: justify;
    margin-bottom: 8px !important;
}

.feature_table {
    margin: 32px 0px 32px 0px;
}
