.table {
    background-color: white;
    width: 100%;
    height: 100%;
}

.scrollbars {
    border-radius: 0 0 var(--border_radius) var(--border_radius);
}

.cell_anchor {
    grid-row: 1;
    grid-column: 1;
    overflow: hidden !important;

    outline: none;
    box-sizing: border-box;
    border-bottom: var(--datagrid_cell_headers_border);
    border-right: var(--datagrid_cell_headers_border);
    text-align: center;
    line-height: 24px;
    background-color: var(--datagrid_cell_anchor_bg);
}

.cell_header_col {
    box-sizing: border-box;
    border-bottom: var(--datagrid_cell_headers_border);
    border-right: var(--datagrid_cell_headers_border);
    color: var(--datagrid_cell_headers_fg);
    background-color: var(--datagrid_cell_headers_bg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: grid;
    align-items: center;
    justify-content: center;
}

.cell_header_row {
    box-sizing: border-box;
    border-bottom: var(--datagrid_cell_headers_border);
    border-right: var(--datagrid_cell_headers_border);
    background-color: var(--datagrid_cell_headers_bg);
    color: var(--datagrid_cell_headers_fg);

    display: grid;
    align-items: center;
    justify-content: center;
}

.cell_data {
    box-sizing: border-box;
    border-bottom: var(--datagrid_cell_border);
    border-right: var(--datagrid_cell_border);

    display: grid;
    align-items: center;
    justify-content: center;

    padding: 0 8px 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell_nodata {
    box-sizing: border-box;
    border-bottom: var(--datagrid_cell_border);
    border-right: var(--datagrid_cell_border);

    display: grid;
    align-items: center;
    justify-content: center;

    background-color: var(--datagrid_cell_nodata_bg);
}

.grid_container {
    width: 100%;
    height: 100%;
}

.grid_left {
    grid-row: 2;
    grid-column: 1;
    overflow: hidden !important;
    outline: none;
    border-radius: 0 0 0 8px;
}

.grid_header {
    grid-row: 1;
    grid-column: 2;
    overflow: hidden !important;
    outline: none;
}

.grid_body {
    grid-row: 2;
    grid-column: 2;
    outline: none;
    overflow: hidden !important;
}

.grid_body_scrollbars {
    grid-row: 2;
    grid-column: 2;
}
