name: 'NPM tag'
on:
    workflow_call:
      inputs:
        version:
          type: string
        tag:
          type: string
    workflow_dispatch:
      inputs:
        version:
          type: string
        tag:
          type: string

jobs:
    change_tags:
        name: Change tags
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                  submodules: 'recursive'
                  fetch-depth: 0

            - uses: actions/setup-node@v6
              with:
                  node-version: '18.x'
                  registry-url: 'https://registry.npmjs.org'

            - name: Change tags
              env:
                  TAG: ${{ inputs.tag }}
                  VERSION: ${{ inputs.version }}
              run: |
                  npm dist-tag ls @duckdb/duckdb-wasm@"${VERSION}"
                  npm dist-tag add @duckdb/duckdb-wasm@"${VERSION}" "${TAG}"
                  npm dist-tag ls @duckdb/duckdb-wasm@"${VERSION}"
